@import './styles/libs/vars';
@import './styles/libs/functions';

@import './styles/libs/skel';


@include skel-breakpoints(
  (
    wide: '(max-width: 1680px)',
    normal: '(max-width: 1280px)',
    narrow: '(max-width: 960px)',
    narrower: '(max-width: 840px)',
    mobile: '(max-width: 736px)'
  )
);

@include skel-layout(
  (
    reset: 'full',
    boxModel: 'border',
    grid: (gutters: (48px, 48px)),
    conditionals: true,
    containers: 1400px,
    breakpoints:
      (
        wide: (containers: 1200px),
        normal: (containers: 100%, grid: (gutters: (36px, 36px))),
        narrow: (grid: (gutters: (32px, 32px))),
        narrower: (containers: (100%, true)),
        mobile: (grid: (gutters: (20px, 20px)))
      )
  )
);

@include skel-breakpoints(
  (
    wide: '(max-width: 1680px)',
    normal: '(max-width: 1280px)',
    narrow: '(max-width: 960px)',
    narrower: '(max-width: 840px)',
    mobile: '(max-width: 736px)'
  )
);

/* Wide */

@include breakpoint(wide) {
    /* Basic */
  
    body,
    input,
    textarea,
    select {
      font-size: 14pt;
      line-height: 1.75em;
    }
  
    /* Carousel */
  
    .carousel {
      padding: 1.5em 0 1.5em 0;
  
      .reel {
        padding: 0 1.5em 0 1.5em;
      }
  
      article {
        width: 18em;
        margin: 0 1.25em 0 0;
      }
    }
  }
  
  /* Normal */
  
  @include breakpoint(normal) {
    /* Basic */
  
    body,
    input,
    textarea,
    select {
      font-size: 12pt;
      line-height: 1.5em;
    }
  
    /* Wrapper */
  
    .wrapper {
      padding-left: 2em;
      padding-right: 2em;
    }

    .container {
      width: 100%;
    }
  
    /* Header */
  
    #header {
      background-attachment: scroll;
  
      .inner {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
  
    /* Banner */
  
    #banner {
      padding-left: 2em;
      padding-right: 2em;
    }
  
    /* Footer */
  
    #footer {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  
  /* Narrow */
  
  @include breakpoint(narrow) {
  }
  
  /* Narrower */
  
  @include breakpoint(narrower) {
    /* Basic */
  
    body,
    input,
    textarea,
    select {
      font-size: 13pt;
      line-height: 1.65em;
    }
  
    .tweet {
      text-align: center;
    }
  
    .timestamp {
      display: block;
      text-align: center;
    }
  
    /* Footer */
  
    #footer {
      padding: 4em 2em 4em 2em;
    }
  
    /* Carousel */
  
    .carousel {
      padding: 1.25em 0 1.25em 0;
  
      article {
        width: 18em;
        margin: 0 1em 0 0;
      }
    }
  }
  
  /* Mobile */
  
  #navPanel,
  #titleBar {
    display: none;
  }
  
  @include breakpoint(mobile) {
    /* Basic */
  
    html,
    body {
      overflow-x: hidden;
    }
  
    body,
    input,
    textarea,
    select {
      font-size: 12.5pt;
      line-height: 1.5em;
    }
  
    h2 {
      font-size: 1.75em;
    }
  
    h3 {
      font-size: 1.25em;
    }
  
    hr {
      top: 3em;
      margin-bottom: 6em;
    }
  
    /* Section/Article */
  
    section,
    article {
      margin-bottom: 2em;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    .row > {
      section,
      article {
        margin-bottom: 2em;
      }
    }
  
    header {
      > p {
        font-size: 1.25em;
      }
    }

    .mobile {
      width: 100%;
    }

    .flex--mobile {
      flex-direction: column;
    }
  
    /* Image */
  
    .image {
      &.featured {
        margin: 0 0 2em 0;
      }
  
      &.left {
        margin: 0 1em 1em 0;
      }
  
      &.centered {
        margin: 0 0 1em 0;
      }
    }
  
    /* List */
  
    ul {
      &.actions {
        form & {
          margin-top: 0;
        }
  
        li {
          display: block;
          margin: 0.75em 0 0 0;
  
          &:first-child {
            margin-top: 0;
          }
        }
      }
  
      &.menu {
        height: auto;
        text-align: center;
  
        li {
          display: block;
          border: 0;
          padding: 0.75em 0 0 0;
          margin: 0;
  
          &:first-child {
            padding-top: 0;
          }
        }
      }
  
      &.icons {
        font-size: 1em;
        padding: 0.35em 0.5em 0.35em 0.5em;
  
        li {
          a {
            width: 2.25em;
          }
        }
      }
    }
  
    /* Button */
  
    input[type='button'],
    input[type='submit'],
    input[type='reset'],
    button,
    .button {
      display: block;
      padding: 0;
      line-height: 3em;
      width: 100%;
    }
  
    /* Off-Canvas Navigation */
  
    #page-wrapper {
      @include vendor('backface-visibility', 'hidden');
      @include vendor('transition', 'transform #{_duration(navPanel)} ease');
      padding-bottom: 1px;
    }
  
    
  
    body {
      &.navPanel-visible {
        #page-wrapper {
          @include vendor('transform', 'translateY(#{_size(navPanel)})');
        }
  
        #navButton {
          @include vendor('transform', 'translateY(#{_size(navPanel)})');
        }
  
        #navPanel {
          @include vendor('transform', 'translateY(0)');
        }
      }
    }
  
    /* Wrapper */
  
    .wrapper {
      padding: 3em 1em 3em 1em;
    }
  
    /* Header */
  
    #header {
      background-attachment: scroll;
      padding: 2.5em 0 0 0;
  
      .inner {
        padding-top: 1.5em;
        padding-left: 1em;
        padding-right: 1em;

        #logo {
          width: 100% !important;
          height: auto !important;
        }
      }
  
      header {
        > p {
          font-size: 1em;
        }
      }
  
      h1 {
        font-size: 1.75em;
      }
  
      hr {
        top: 1em;
        margin-bottom: 2.5em;
      }
    }
  
    body {
      #header {
        min-height: 0;
        padding: 5.5em 0 5em 0;
        height: auto;
  
        &:before {
          display: none;
        }
  
        h1 {
          font-size: 2.5em;
        }
      }
    }
  
    /* Nav */
  
    #nav {
      display: none;
    }
  
    /* Banner */
  
    #banner {
      padding: 3em 2em 3em 2em;
    }
  
    /* Sidebar */
  
    #sidebar {
      > hr:first-of-type {
        display: block;
      }
    }
  
    /* Main */
  
    #main {
      > header {
        text-align: center;
      }
    }
  
    /* Footer */
  
    #footer {
      padding-left: 1em;
      padding-right: 1em;
    }
  
    /* Carousel */
  
    .carousel {
      padding: 0.5em 0 0.5em 0;
  
      .reel {
        padding: 0 0.5em 0 0.5em;
      }
  
      article {
        width: 14em;
        padding-bottom: 2em;
        margin: 0 0.5em 0 0;
  
        .image {
          margin-bottom: 2em;
        }
      }
    }
  }
  